# Environments
venv/
.env

# Databases
app.db

# IDEs
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

project-analysis/

# Local Cloudflare tooling
cloudflare_worker/.wrangler/
cloudflare_worker/wrangler.toml
