--
-- PostgreSQL database dump
--

\restrict 3rPfK6dKcWni12hSIQgdcN3EPg96pThdwIY2qyY4TTNbAWrOXENbOsseBbW7bdx

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tournamentstatus; Type: TYPE; Schema: public; Owner: podval_user
--

CREATE TYPE public.tournamentstatus AS ENUM (
    'DRAFT',
    'OPEN',
    'LIVE',
    'FINISHED'
);


ALTER TYPE public.tournamentstatus OWNER TO podval_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bug_reports; Type: TABLE; Schema: public; Owner: podval_user
--

CREATE TABLE public.bug_reports (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    description character varying NOT NULL,
    photo_id character varying,
    status character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.bug_reports OWNER TO podval_user;

--
-- Name: bug_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: podval_user
--

CREATE SEQUENCE public.bug_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bug_reports_id_seq OWNER TO podval_user;

--
-- Name: bug_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: podval_user
--

ALTER SEQUENCE public.bug_reports_id_seq OWNED BY public.bug_reports.id;


--
-- Name: forecasts; Type: TABLE; Schema: public; Owner: podval_user
--

CREATE TABLE public.forecasts (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    tournament_id integer NOT NULL,
    prediction_data json NOT NULL,
    points_earned integer,
    created_at timestamp without time zone
);


ALTER TABLE public.forecasts OWNER TO podval_user;

--
-- Name: forecasts_id_seq; Type: SEQUENCE; Schema: public; Owner: podval_user
--

CREATE SEQUENCE public.forecasts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.forecasts_id_seq OWNER TO podval_user;

--
-- Name: forecasts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: podval_user
--

ALTER SEQUENCE public.forecasts_id_seq OWNED BY public.forecasts.id;


--
-- Name: players; Type: TABLE; Schema: public; Owner: podval_user
--

CREATE TABLE public.players (
    id integer NOT NULL,
    full_name character varying NOT NULL,
    current_rating integer,
    is_active boolean
);


ALTER TABLE public.players OWNER TO podval_user;

--
-- Name: players_id_seq; Type: SEQUENCE; Schema: public; Owner: podval_user
--

CREATE SEQUENCE public.players_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.players_id_seq OWNER TO podval_user;

--
-- Name: players_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: podval_user
--

ALTER SEQUENCE public.players_id_seq OWNED BY public.players.id;


--
-- Name: season_results; Type: TABLE; Schema: public; Owner: podval_user
--

CREATE TABLE public.season_results (
    id integer NOT NULL,
    season_id integer NOT NULL,
    user_id bigint NOT NULL,
    rank integer NOT NULL,
    points integer NOT NULL,
    tournaments_played integer,
    user_snapshot json
);


ALTER TABLE public.season_results OWNER TO podval_user;

--
-- Name: season_results_id_seq; Type: SEQUENCE; Schema: public; Owner: podval_user
--

CREATE SEQUENCE public.season_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.season_results_id_seq OWNER TO podval_user;

--
-- Name: season_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: podval_user
--

ALTER SEQUENCE public.season_results_id_seq OWNED BY public.season_results.id;


--
-- Name: seasons; Type: TABLE; Schema: public; Owner: podval_user
--

CREATE TABLE public.seasons (
    id integer NOT NULL,
    number integer NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    status character varying
);


ALTER TABLE public.seasons OWNER TO podval_user;

--
-- Name: seasons_id_seq; Type: SEQUENCE; Schema: public; Owner: podval_user
--

CREATE SEQUENCE public.seasons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.seasons_id_seq OWNER TO podval_user;

--
-- Name: seasons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: podval_user
--

ALTER SEQUENCE public.seasons_id_seq OWNED BY public.seasons.id;


--
-- Name: tournament_participants; Type: TABLE; Schema: public; Owner: podval_user
--

CREATE TABLE public.tournament_participants (
    tournament_id integer NOT NULL,
    player_id integer NOT NULL
);


ALTER TABLE public.tournament_participants OWNER TO podval_user;

--
-- Name: tournaments; Type: TABLE; Schema: public; Owner: podval_user
--

CREATE TABLE public.tournaments (
    id integer NOT NULL,
    name character varying NOT NULL,
    date date NOT NULL,
    status public.tournamentstatus,
    prediction_count integer,
    results json
);


ALTER TABLE public.tournaments OWNER TO podval_user;

--
-- Name: tournaments_id_seq; Type: SEQUENCE; Schema: public; Owner: podval_user
--

CREATE SEQUENCE public.tournaments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tournaments_id_seq OWNER TO podval_user;

--
-- Name: tournaments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: podval_user
--

ALTER SEQUENCE public.tournaments_id_seq OWNED BY public.tournaments.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: podval_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying,
    full_name character varying,
    balance integer,
    total_points integer,
    total_slots integer,
    tournaments_played integer,
    exact_guesses integer,
    perfect_tournaments integer,
    streak_days integer,
    max_streak integer,
    last_forecast_date date,
    accuracy_rate double precision,
    avg_error double precision
);


ALTER TABLE public.users OWNER TO podval_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: podval_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO podval_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: podval_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: bug_reports id; Type: DEFAULT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.bug_reports ALTER COLUMN id SET DEFAULT nextval('public.bug_reports_id_seq'::regclass);


--
-- Name: forecasts id; Type: DEFAULT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.forecasts ALTER COLUMN id SET DEFAULT nextval('public.forecasts_id_seq'::regclass);


--
-- Name: players id; Type: DEFAULT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.players ALTER COLUMN id SET DEFAULT nextval('public.players_id_seq'::regclass);


--
-- Name: season_results id; Type: DEFAULT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.season_results ALTER COLUMN id SET DEFAULT nextval('public.season_results_id_seq'::regclass);


--
-- Name: seasons id; Type: DEFAULT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.seasons ALTER COLUMN id SET DEFAULT nextval('public.seasons_id_seq'::regclass);


--
-- Name: tournaments id; Type: DEFAULT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.tournaments ALTER COLUMN id SET DEFAULT nextval('public.tournaments_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: bug_reports; Type: TABLE DATA; Schema: public; Owner: podval_user
--

COPY public.bug_reports (id, user_id, description, photo_id, status, created_at) FROM stdin;
1	435040717	╨в╨╡╤Б╤В	\N	OPEN	2025-12-08 09:41:48.226248
2	370704340	ЁЯПБ ╨Р╨║╤В╤Г╨░╨╗╤М╨╜╤Л╨╡ ╤В╤Г╤А╨╜╨╕╤А╤Л	AgACAgIAAxkBAAIRK2k5MsqBlAAB4MhJskZ_3M01-FevGwACcg1rG_6lyUnz6bZf__OprQEAAwIAA3kAAzYE	OPEN	2025-12-10 12:47:38.37493
3	435040717	╨Ю╤И╨╕╨▒╨║╨░	\N	OPEN	2025-12-22 11:41:47.725973
4	1639967639	╨Э╨╡ ╨╝╨╛╨│╤Г ╨▓╨╜╨╡╤Б╤В╨╕ ╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В╤Л	\N	OPEN	2026-01-01 20:09:21.777063
\.


--
-- Data for Name: forecasts; Type: TABLE DATA; Schema: public; Owner: podval_user
--



--
-- Data for Name: players; Type: TABLE DATA; Schema: public; Owner: podval_user
--



--
-- Data for Name: season_results; Type: TABLE DATA; Schema: public; Owner: podval_user
--



--
-- Data for Name: seasons; Type: TABLE DATA; Schema: public; Owner: podval_user
--

COPY public.seasons (id, number, start_date, end_date, status) FROM stdin;
1	48	2025-11-24	2025-11-30	closed
2	49	2025-12-01	2025-12-07	closed
3	50	2025-12-08	2025-12-14	closed
4	51	2025-12-15	2025-12-21	closed
5	52	2025-12-22	2025-12-28	closed
6	53	2025-12-29	2026-01-04	closed
\.


--
-- Data for Name: tournament_participants; Type: TABLE DATA; Schema: public; Owner: podval_user
--



--
-- Data for Name: tournaments; Type: TABLE DATA; Schema: public; Owner: podval_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: podval_user
--



--
-- Name: bug_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: podval_user
--

SELECT pg_catalog.setval('public.bug_reports_id_seq', 4, true);


--
-- Name: forecasts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: podval_user
--

SELECT pg_catalog.setval('public.forecasts_id_seq', 1134, true);


--
-- Name: players_id_seq; Type: SEQUENCE SET; Schema: public; Owner: podval_user
--

SELECT pg_catalog.setval('public.players_id_seq', 95, true);


--
-- Name: season_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: podval_user
--

SELECT pg_catalog.setval('public.season_results_id_seq', 152, true);


--
-- Name: seasons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: podval_user
--

SELECT pg_catalog.setval('public.seasons_id_seq', 6, true);


--
-- Name: tournaments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: podval_user
--

SELECT pg_catalog.setval('public.tournaments_id_seq', 36, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: podval_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: bug_reports bug_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.bug_reports
    ADD CONSTRAINT bug_reports_pkey PRIMARY KEY (id);


--
-- Name: forecasts forecasts_pkey; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.forecasts
    ADD CONSTRAINT forecasts_pkey PRIMARY KEY (id);


--
-- Name: players players_full_name_key; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_full_name_key UNIQUE (full_name);


--
-- Name: players players_pkey; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_pkey PRIMARY KEY (id);


--
-- Name: season_results season_results_pkey; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.season_results
    ADD CONSTRAINT season_results_pkey PRIMARY KEY (id);


--
-- Name: seasons seasons_number_key; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_number_key UNIQUE (number);


--
-- Name: seasons seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_pkey PRIMARY KEY (id);


--
-- Name: tournament_participants tournament_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.tournament_participants
    ADD CONSTRAINT tournament_participants_pkey PRIMARY KEY (tournament_id, player_id);


--
-- Name: tournaments tournaments_pkey; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_season_results_id; Type: INDEX; Schema: public; Owner: podval_user
--

CREATE INDEX ix_season_results_id ON public.season_results USING btree (id);


--
-- Name: ix_seasons_id; Type: INDEX; Schema: public; Owner: podval_user
--

CREATE INDEX ix_seasons_id ON public.seasons USING btree (id);


--
-- Name: bug_reports bug_reports_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.bug_reports
    ADD CONSTRAINT bug_reports_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: forecasts forecasts_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.forecasts
    ADD CONSTRAINT forecasts_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id);


--
-- Name: forecasts forecasts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.forecasts
    ADD CONSTRAINT forecasts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: season_results season_results_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.season_results
    ADD CONSTRAINT season_results_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id);


--
-- Name: season_results season_results_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.season_results
    ADD CONSTRAINT season_results_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: tournament_participants tournament_participants_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.tournament_participants
    ADD CONSTRAINT tournament_participants_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id);


--
-- Name: tournament_participants tournament_participants_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: podval_user
--

ALTER TABLE ONLY public.tournament_participants
    ADD CONSTRAINT tournament_participants_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 3rPfK6dKcWni12hSIQgdcN3EPg96pThdwIY2qyY4TTNbAWrOXENbOsseBbW7bdx

